{% extends "base.html" %}
{% block content %}
  <style type="text/css">
    #mynetwork {
      width: 800px;
      height: 800px;
      border: 1px solid lightgray;
    }
  </style>
</head>
<body>

<div id="mynetwork"></div>

<script type="text/javascript">
  // create an array with nodes
  nodes_data = {{ nodes_data | safe }}
  edges_data = {{ edges_data | safe }}
  var nodes = new vis.DataSet(nodes_data);

  // create an array with edges
  var edges = new vis.DataSet(edges_data);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
   var options = {
    
 /*  configure: {
    enabled: true,
    filter: 'nodes,edges',
    container: undefined,
    showButton: true
  },*/
        nodes: {
            shape: 'dot',
            size: 30,
            font: {
                size: 10
            },
            borderWidth: 2,
            shadow:true
        },
        edges: {
            width: 2,
	    length:200,
            shadow:true,
	    font: {
      align:'middle'
    },
            "smooth": {
      		"type": "curvedCW"
    	    },
        }
    };
  var network = new vis.Network(container, data, options);
</script>

{% endblock %}
